# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata
.vscode

# svn & cvs
.svn
error.log
CVS
config/app*.php
config/config.ini
logs/*
tmp/*
uploads/*
upgrade/*
vendor/*
mysql/*
mysqlconf/*

# sensitive config
config/.env
config/jwt.pem
config/jwt.key
